@import url('../src/styles/okhtml.css');

#out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 800px;
    gap: 5px;
    overflow-y: auto;
}